/*

*/

body {
    /*background: grey;*/
}

header {
  background: tomato;
}

main {
  background: skyblue;
}

#left, #center, #right {
  padding: 10px;
  box-sizing: border-box;
}

#left {
  background: lightgreen;
  float: left;
  width: 100px;
  margin-right: 10px;
}

#center {
  background: green;
  float: left;
  width: 180px;
  margin-right: 10px;
}

#right {
  background: limegreen;
  float: left;
  width: 200px;
}

footer {
  clear: both;
  background: tomato;
}

.clearfix::after {
  content: '';
  display: block;
  clear:both;
}

.container {
  width: 500px;
  margin: 0 auto;
  /*background: pink;*/
}
