/*

*/

body {
    /*background: grey;*/
}

header {
  /*background: tomato;*/
}

ul#menu {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 0;
}

 /*メニューを横並びにする*/
ul#menu > li {
  display: inline-block;
}

/* クリック領域を広げる */
ul#menu > li > a {
  display: inline-block;
  width: 80px;
  height: 40px;
  background: orange;
  font-size: 16px;
  text-decoration: none; /* 下線削除 */
  text-align: center; /* 左右で中央揃えにする */
  line-height: 40px; /* 上下で中央揃え (heightとline-heightの値を合わせる) */
}

ul#menu > li > a:hover {
  opacity: 0.5;
  transition: 0.8s;
}

.product {
  position: relative;
  display: inline-block;
}

.price {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 10px;
  padding: 4px;
  font-weight: bold;
  background: white;
}

main {
  background: skyblue;
}

#left, #center, #right {
  padding: 10px;
  box-sizing: border-box;
}

#left {
  background: lightgreen;
  float: left;
  width: 20%;
}

#center {
  background: green;
  float: left;
  width: 60%;
}

#right {
  background: limegreen;
  float: left;
  width: 20%;
}

footer {
  clear: both;
  background: tomato;
}

.clearfix::after {
  content: '';
  display: block;
  clear:both;
}

.container {
  width: 500px;
  margin: 0 auto;
}
